.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.listItem{
  list-style: none;
  display: block;
  height:55px;
  width:400px;
  line-height: 55px;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color:green;
  border: 1px solid #444;
  margin:5px;
  text-align: center;
}
.listItem input {
  height:25px; 
  padding:5px;
  margin:5px
}
.container{
  width: 1000px;
  margin:0 auto
}

.voteCount {
  width:25px;
  height: 25px;
  border: 1px solid #DDD;
  border-radius:5px;
  float:left;
  margin: 5px;
  padding:10px;
  line-height: 25px;
}

.plusVote {
  width:25px;
  height: 25px;
  border: 1px solid #DDD;
  border-radius:5px;
  float:right;
  margin: 5px;
  padding:10px;
  line-height: 25px;
}