*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif
}
.container {
    width:960px;
    margin: 0 auto;
    padding: 20px
}
.hdr, .input{
    width: 100%;
    display:block;
}
.namelist{
    margin-top:50px;
    width: 100%;
    display:block;
    border: 2px solid #3388f0;
    padding:20px
}

#names li{
    list-style: none;
    font-weight: 500;
    font-size:18px;
    color: #555;
    padding:10px;
    border-bottom: 1px dotted #5cb85c;

}

input {
    width:90%;
    border: 1px solid #419641;
    border-radius: 5px;
    font-size: 18px;
    padding:5px;
    color:#5cb85c
    }
.button-submit {
    width:150px;
    background: #419641;
    color: #eee
}
.glyphicon-remove {
    color:red;
    vertical-align: middle;
    padding-left:15px;
    float:right;
}
.glyphicon-plus {
    color:#5cb85c;
    vertical-align: middle;
    padding:6px;
    float:right;
}

.glyphicon-plus:hover {
    color:#33FFA3;
    vertical-align: middle;
    padding:6px;
    float:right;
}

.glyphicon-floppy-disk {
    color:#444;
    vertical-align: middle;
    padding-left:5px;
    float:right;
    display: none;
}
.listname {
    width:90%;
    display: inline-block;
    padding:5px;
    border-radius:3px;
}
.listicons{
    width:10%;
    display: inline-block;

}

.message{
    margin-left:15px;
}
li.addItem{
    background: #444
}