<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Survey Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--bootstrap-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <!-- end bootstrap-->

    <link rel="stylesheet" href="/style/main.css">
    <script src="/src/main.js"></script>
</head>

<body>
    <div class=container>
        <div class="hdr">
            <h1>Name List</h1>
        </div>
        <div class="input">
            <form action="/" method="post">
                <input type="text" name="name" placeholder="Name">
                <input type="submit" value="Add Name" class="button-submit">
            </form>
        </div>
        <div class="namelist">
            <ul id="names">

            </ul>
        <div>
    </div>
</body>

</html>